<nav id="sidebar-nav" class="navbar-light nav flex-column">
	<h5 class="p-1 mt-2 text-uppercase font-weight-bold">Nav Block 1</h5>
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link active" href="#"><i class="fas fa-address-book"></i> Active</a>
		</li>
		<li class="nav-item">
			<a class="nav-link sidebar-nav-dropdown-toggle dropdown-toggle" href="#"><i class="fas fa-book"></i> Link</a>
			<ul class="nav flex-column nav-dropdown" style="display: none;">
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fas fa-coffee"></i> Dropdown Link</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fas fa-users"></i> Dropdown Link</a>
				</li>			
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="far fa-calendar-alt"></i> Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fas fa-camera-retro"></i> Link</a>
		</li>
	</ul>

	<h5 class="p-1 mt-2 text-uppercase font-weight-bold">Nav Block 2</h5>
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link active" href="#"><i class="fas fa-address-book"></i> Active</a>
		</li>
		<li class="nav-item">
			<a class="nav-link sidebar-nav-dropdown-toggle dropdown-toggle" href="#"><i class="fas fa-book"></i> Link</a>
			<ul class="nav flex-column nav-dropdown" style="display: none;">
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fas fa-coffee"></i> Dropdown Link</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fas fa-users"></i> Dropdown Link</a>
				</li>			
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="far fa-calendar-alt"></i> Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fas fa-camera-retro"></i> Link</a>
		</li>
	</ul>
</nav>
