body {
	font-family: 'Quicksand';
}

span.dropcap {
    display: inline;
    margin: 0;
    padding: .25em .08em 0 0;
    padding: 0.25em 0.08em 0.2em 0.00em;
    padding: 0.25em 0.08em 0.4em 0.00em;
    line-height: .4em;
    font-size: 3.2em;
    font-family: inherit;
    text-transform: capitalize;
    color: #000000;
    float: left;
}

#container-fluid {
	padding-left: 0 !important;
}

#navbar {
	padding-right: 0 !important;
}

#content {
    background-color: #f8f9fa;
    margin-top: 1rem;
    border-radius: 1em;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.15);
}