{% extends 'base.html.twig' %}

{% block title %}AdminSymfony | Home{% endblock %}

{% block body %}
	<h1>Home</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Chart 1</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<div class="row mb-3">
							<div class="text-left col-6">
								<button class="btn btn-primary active" onclick="prev(myChartLineDate, setLabels(dateString, 1), setDatas(1))"> Week </button>
								<button class="btn btn-primary" onclick="next(myChartLineDate, setLabels(firstDayMonth, 2), setDatas(2))"> Month </button>
								<button class="btn btn-primary" onclick="next(myChartLineDate, setLabels(dateNext, 3), setDatas(3))"> Year </button>
							</div>
							<div class="text-right col-6">
								<button class="btn btn-primary" onclick="prev(myChartLineDate, setLabels(datePrev, view), setDatas(view))"> < </button>
								<button class="btn btn-primary" onclick="next(myChartLineDate, setLabels(dateNext, view), setDatas(view))"> > </button>
							</div>
						</div>
						<canvas id=chartLineDate></canvas>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-4">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-6">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Chart 2</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<canvas id=chartBar></canvas>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-6">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Chart 3</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<canvas id=chartDoughnut></canvas>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-6">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title 1</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>

						<p>Donec eu turpis eu neque finibus molestie. In at diam at nulla rutrum pharetra. Quisque eget nisi vel lectus fringilla porta sed in dui. Cras blandit vel lectus id pretium. Quisque iaculis velit non ex rhoncus imperdiet. Suspendisse dignissim neque felis, at pellentesque nisl vehicula aliquam. Nunc ut lectus vel lorem malesuada fringilla. Mauris sed massa magna.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-6">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title 2</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>

						<p>Donec eu turpis eu neque finibus molestie. In at diam at nulla rutrum pharetra. Quisque eget nisi vel lectus fringilla porta sed in dui. Cras blandit vel lectus id pretium. Quisque iaculis velit non ex rhoncus imperdiet. Suspendisse dignissim neque felis, at pellentesque nisl vehicula aliquam. Nunc ut lectus vel lorem malesuada fringilla. Mauris sed massa magna.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-4">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title 3</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-4">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title 4</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p></p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->

			<div class="col-4">
				<div class="block">
					<div class="block-title row">
						<div class="col-10">
							<h2>Block Title 5</h2>
						</div>
						<div class="col-2">
							<span class="toggle"> - </span>
						</div>
					</div> <!-- Block Title -->

					<div class="block-body">
						<p><span class="dropcap">N</span>am ullamcorper vulputate tempor. Mauris fringilla dignissim lacus ac consequat. Pellentesque ac semper nunc, vitae tincidunt nibh. Phasellus convallis, velit in bibendum accumsan, lacus erat malesuada enim, lacinia convallis metus magna ac libero. Fusce sed accumsan nulla. Nullam vel neque nec elit posuere varius. Donec fringilla lectus eget vestibulum aliquam.</p>
					</div> <!-- Block Body -->

					<div class="block-footer">
						<p>Block Footer</p>
					</div> <!-- Block Footer -->
				</div> <!-- Block -->
			</div> <!-- Col Block -->
		</div>
	</div>
{% endblock %}